{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    <li>
        <a href="import-csv/" class="btn btn-primary" style="margin-right: 10px;">
            <i class="fas fa-file-import"></i> Import Teachers from CSV
        </a>
    </li>
    <li>
        <a href="{% url 'admin:download-teacher-template' %}" class="btn btn-secondary">
            <i class="fas fa-download"></i> Download Template
        </a>
    </li>
    {{ block.super }}
{% endblock %}

{% block content %}
    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {{ block.super }}
{% endblock %} 