{% extends 'base.html' %}

{% block title %}{{ page.title }} - {{ school_info.name }}{% endblock %}

{% block content %}
<div class="legal-page">
    <div class="container">
        <div class="legal-content">
            <h1>{{ page.title }}</h1>
            <div class="last-updated">
                Last updated: {{ page.last_updated|date:"F j, Y" }}
            </div>
            <div class="content">
                {{ page.content|safe|linebreaks }}
            </div>
        </div>
    </div>
</div>
{% endblock %} 